@font-face {
   font-family: 'anik';
   src: url(anik.ttf);
}
/*start*/
.liafnav{
    position: fixed;
    top: 8vh;
    left: 50%;
    padding: 4px;
    transform: translateX(-50%);
    z-index: 1;
}
.liafnav ul { 
   background-color: white;
    width: 90vw;
    padding: 5px 10px;
    list-style: none; 
    display: flex;
    justify-content: space-between;
  }
  .liafnav li { 
    position: relative; 
  }
  .liafnav  a {
   font-weight: bold;
    color: rgb(105, 99, 99);
    font-size: 0.9rem;
    text-decoration: none;
  }
  .liafnav  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    background-color: black;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .liafnav a:hover:after { 
    width: 100%; 
    left: 0; 
  }
 .instart{
    justify-content: center;
    margin-top: 15vh;
    flex-wrap: wrap;
    display: flex;
 }
 .udnam{
    color: rgb(41, 39, 39);
    width: 70vw;
    font-size: 0.6rem;
    text-align: center;
 }
 .udnam::first-line{
    font-size: 3.5rem;
 }
 
 .udop{
    width: 90vw;
    margin-top: 20px;
 }
 .udop ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .udop ul li{
    margin: 15px;
    width: 20vw;
 }
 .udop a{
    text-decoration: none;
    font-size: 0.7rem;
 }
.udop ul div{
   transition: 0.5s;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
    color: rgba(0, 0, 0, 0.637);
    padding: 8px;
    width: 65px;
    border-radius: 10px;
 }
 .udop ul div:hover{    
   background-color: rgba(41, 37, 37, 0.799);
   color: white;
 }
 .udop ion-icon{
    font-size: 2.2rem;
 }

 


 /*for img slider*/

 .slider-container {
   border-top: 1px solid ;
   border-bottom: 1px solid;
   display: grid;
   place-items: center;
   width: 100vw;
   margin: 15px auto;
   height: 220px;
   overflow: hidden;
}
.slider {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

img {
   width: 100%;
   height: auto;
}

/*4 BOX */
.profile-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid;
    margin: 10px;
    padding: 5px 0px;
}

.profile {
    border: 1px solid #ddd;
    margin: 5px;
    width: 40vw;
    padding: 5px;
    text-align: center;
}
.profile a{
   text-decoration: none;
   color: black;
}
.profile img {
   width: 80%;
}

.profile h3 {
  margin: 0;
}
.profile p {
    font-family: 'anik';
    padding: 0px 5px;
    font-size: 0.7rem;
    text-align: center;
}
.profile:hover{
   background-color: #d2cbcb;
}

/*for story*/
.aab{
   text-decoration: none;
   color: white;
}
.forstory{
   width: 95vw;
   background-image: url(https://i.pinimg.com/474x/7d/ea/65/7dea65a5a2ca8ab7ddd0c4e864855b97.jpg);
   margin: 10px auto;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
}