


      /*end*/
      .touch {
        position: absolute;
        z-index: 2;
        width: 33.3333%;
        height: 33.3333%;
        box-sizing: border-box;
      }
      .touch__1 {
        top: 0;
        left: 0;
      }
      .touch__2 {
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .touch__3 {
        top: 0;
        right: 0;
      }
      .touch__4 {
        top: 33.3333%;
        left: 0;
      }
      .touch__6 {
        top: 33.3333%;
        right: 0;
      }
      .touch__7 {
        bottom: 0;
        left: 0;
      }
      .touch__8 {
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .touch__9 {
        bottom: 0;
        right: 0;
      }
      .touch__1:hover ~ .main {
        transform: rotateX(20deg) rotateY(-20deg) rotateZ(10deg);
      }
      .touch__1:hover ~ .main .icon {
        transform: translateX(-20px) translateY(-10px) translateZ(60px);
        box-shadow: 20px 20px 24px rgba(0, 0, 0, 0.2);
      }
      .touch__2:hover ~ .main {
        transform: rotateX(20deg) rotateY(0) rotateZ(0);
      }
      .touch__2:hover ~ .main .icon {
        transform: translateX(0) translateY(-10px) translateZ(60px);
        box-shadow: 0 20px 24px rgba(0, 0, 0, 0.2);
      }
      .touch__3:hover ~ .main {
        transform: rotateX(20deg) rotateY(20deg) rotateZ(-10deg);
      }
      .touch__3:hover ~ .main .icon {
        transform: translateX(20px) translateY(-10px) translateZ(60px);
        box-shadow: -20px 20px 24px rgba(0, 0, 0, 0.2);
      }
      .touch__4:hover ~ .main {
        transform: rotateX(0) rotateY(-40deg) rotateZ(0);
      }
      .touch__6:hover ~ .main {
        transform: rotateX(0) rotateY(40deg) rotateZ(0);
      }
      .touch__7:hover ~ .main {
        transform: rotateX(-20deg) rotateY(-20deg) rotateZ(-10deg);
      }
      .touch__7:hover ~ .main .text {
        transform: translateX(-20px) translateY(10px) translateZ(60px);
        box-shadow: 20px -20px 24px rgba(0, 0, 0, 0.2);
      }
      .touch__8:hover ~ .main {
        transform: rotateX(-20deg) rotateY(0) rotateZ(0);
      }
      .touch__8:hover ~ .main .text {
        transform: translateX(0) translateY(10px) translateZ(60px);
        box-shadow: 0 -20px 24px rgba(0, 0, 0, 0.2);
      }
      .touch__9:hover ~ .main {
        transform: rotateX(-20deg) rotateY(20deg) rotateZ(10deg);
      }
      .touch__9:hover ~ .main .text {
        transform: translateX(20px) translateY(10px) translateZ(60px);
        box-shadow: -20px -20px 24px rgba(0, 0, 0, 0.2);
      }